.activated {
    color: white;
    font-weight: bold;
    background-color: #00695c !important
  }



  .customPaginate {
    display: flex;
    list-style: none;
    height: 40px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
   
    align-items: center;
    padding: 0 10px;
    margin-top: 40px;
    margin: 0 auto
  }
  
  .paginate {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px ;
    cursor: pointer !important;
    list-style: none;
   
  }

 
  