.img_produits {
    width: 100%;
    height: auto;
   
}

.globaleColor{
    color: #213b15 !important;

}
.pointer{
    cursor: pointer;
}
.cardBlock {
    
}

@media screen and (min-width :768px){
    .img_produits {
        width: 100%;
        height: 250px;
    }
}